.main_Image {
    width: 100%;
}

.logo_Image {
    max-width: 200px;
}

.inlineImage {
    max-width: 100%;
}

.titleContainer {
    padding: 0;
    text-align: center;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #555;
    font-size: 2.8em;
    margin: 0;
    line-height: 1.2;
    margin: 20px;
}

.dueDate {
    font-weight: bold;
}

.divider {
    margin: 30px auto;
    width: 80%;
    color: #39D1B4;
    background-color: #39D1B4;
    height: 3px;
    border: 0;
}

