@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

body {
  background-color: #F0F2F5;
}

/* Home page */
.dashboard {
  width: 100%;
}
.positions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* Display position */
.position-container {
  max-width: 1024px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

@media (max-width: 1024px){
  .position-container {
    max-width: 90%;
  }
}